---
import Section from "../components/Section.astro";
import About from "../sections/About.astro";
import Contact from "../sections/Contact.astro";
import Coverage from "../sections/Coverage.astro";
import Footer from "../sections/Footer.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import MV from "../sections/MV.astro";
import Services from "../sections/Services.astro";
import Values from "../sections/Values.astro";
import "../styles/global.css";
import "aos/dist/aos.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>PAKORO - Simple, Rápido y Seguro</title>
  </head>
  <body
    class="font-poppins m-0 p-0 text-texto overflow-x-hidden leading-[1.6] bg-white"
  >
    <Header />

    <Hero />

    <About />

    <MV />

    <Section>
      <Values />
    </Section>

    <Section class="services-section">
      <Services />
    </Section>

    <Section class="section-padding bg-white">
      <Coverage />
    </Section>

    <Section class="section-padding bg-[#f9f9f9] relative">
      <Contact />
    </Section>

    <Footer />

    <script>
      import AOS from "aos";

      AOS.init({
        duration: 800,
        easing: "ease-in-out",
        once: true,
        offset: 50,
      });
    </script>
  </body>
</html>
