---
import Section from "../components/Section.astro";
import About from "../sections/About.astro";
import Contact from "../sections/Contact.astro";
import Coverage from "../sections/Coverage.astro";
import Footer from "../sections/Footer.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import MV from "../sections/MV.astro";
import Services from "../sections/Services.astro";
import Values from "../sections/Values.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pakoro</title>
  </head>
  <body
    class="font-poppins m-0 p-0 text-texto overflow-x-hidden leading-[1.6] bg-white"
  >
    <Header />

    <Hero />

    <About />

    <MV />

    <Section>
      <Values />
    </Section>

    <Section class="services-section">
      <Services />
    </Section>

    <Section class="section-padding bg-white">
      <Coverage />
    </Section>

    <Section class="section-padding bg-[#f9f9f9] relative">
      <Contact />
    </Section>

    <Footer />
  </body>
</html>
