---
import Section from "../components/Section.astro";
import About from "../sections/About.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import MV from "../sections/MV.astro";
import Values from "../sections/Values.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Pakoro</title>
  </head>
  <body
    class="font-poppins m-0 p-0 text-texto overflow-x-hidden leading-[1.6] bg-white"
  >
    <Header />

    <Hero />

    <About />

    <MV />

    <Section>
      <Values />
    </Section>
  </body>
</html>
