---
import ArrowLeft from "../icons/ArrowLeft.astro";
---

<section id="about" class="section">
  <div class="app-container">
    <div class="grid grid-cols-2 gap-14 items-center">
      <div data-aos="fade-right">
        <span class="text-naranja" style="font-weight: 600; letter-spacing: 1px"
          >NOSOTROS</span
        >
        <h2 class="text-azul mt-0 mb-5 font-bold text-2xl">Quiénes Somos</h2>
        <p class="text-texto text-base mb-4">
          <strong>PAKORO</strong> es una empresa peruana especializada en soluciones
          de envío y paquetería, dedicada a ofrecer un servicio confiable, ágil y
          seguro para el transporte de paquetes, sobres y documentos.
        </p>
        <p>
          Con nuestro sello <strong>“Simple, Rápido y Seguro”</strong>,
          trabajamos para conectar personas y negocios mediante entregas
          eficientes, garantizando puntualidad, atención personalizada y la
          mejor experiencia logística.
        </p>
        <a
          href="#contact"
          class="inline-flex gap-2 items-center mt-5 font-semibold text-naranja"
          >Hablemos <ArrowLeft /></a
        >
      </div>
      <div class="relative" data-aos="fade-left">
        <img
          class="about-img"
          src="/about-img.png"
          alt="Repartidor entregando paquete con una sonrisa"
        />
      </div>
    </div>
  </div>
</section>
