<footer class="bg-azul text-white text-center py-14">
  <div class="app-container" data-aos="fade-in">
    <div class="logo" style="margin-bottom: 20px">
      <h2 class="text-white font-bold text-2xl mb-5">PAKORO</h2>
    </div>
    <p
      class="font-poppins mb-5 text-white/80"
      style="
            font-size: 1.1rem;
            margin-bottom: 30px;
            color: rgba(255, 255, 255, 0.8);
          "
    >
      Tus envíos siempre serán Simple, Rápido y Seguro.
    </p>
    <div
      style="
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            padding-top: 30px;
          "
    >
      <p style="font-size: 0.9rem; opacity: 0.6; margin: 0">
        &copy; 2023 PAKORO. Todos los derechos reservados.
      </p>
    </div>
  </div>
</footer>
