<header class="bg-white/95 header-shadow sticky top-0 z-10000">
  <div class="app-container">
    <nav class="flex justify-between items-center h-20">
      <div>
        <img class="h-[50px] w-auto" src="logo.png" alt="PAKORO Logo" />
      </div>
      <ul class="flex list-none">
        <li class="ml-[35px]">
          <a class="item-nav-link" href="#hero">Inicio</a>
        </li>
        <li class="ml-[35px]">
          <a class="item-nav-link" href="#about">Nosotros</a>
        </li>
        <li class="ml-[35px]">
          <a class="item-nav-link" href="#services">Servicios</a>
        </li>
        <li class="ml-[35px]">
          <a class="item-nav-link" href="#contact">Contacto</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
