<div class="app-container">
  <div>
    <h1
      data-aos="fade-right"
      data-aos-duration="1200"
      class="text-white text-[2.5rem] sm:text-[3rem] md:text-[4.5rem] leading-[1.1] mb-[25px] font-extrabold"
    >
      Rápido, Simple<br />
      y Seguro.
    </h1>
    <p
      data-aos="fade-right"
      data-aos-delay="200"
      class="text-white/90 mb-[45px] max-w-[600px] text-base md:text-[1.3rem]"
    >
      Conectamos personas y negocios mediante entregas eficientes. Tu aliado
      logístico de confianza en Lima y Callao.
    </p>
    <div data-aos="fade-up" data-aos-delay="400">
      <a href="#contact" class="btn btn-primary">Cotizar mi Envío</a>
    </div>
  </div>
</div>
